USE [MahalaxmiYuvakMandalDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 3/6/2026 12:05:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        U.Id,
        U.FullName,
        U.Email,
        R.RoleName AS Role,   -- map RoleName to User.Role
        U.IsActive,
        U.CreatedDate
    FROM Users U
    INNER JOIN Roles R ON U.RoleId = R.Id
    WHERE U.IsActive in (0, 1)
END