<div class="card">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="m-0">Donation List</h2>
    <div class="d-flex gap-2">
      <a
        routerLink="/create-donation"
        class="btn btn-primary"
        *ngIf="userRole === 'Admin'"
        >Create Donation</a
      >
      <!-- PDF Download Button with Loading State -->
      <button
        type="button"
        class="btn btn-danger d-flex align-items-center"
        (click)="downloadPdfReport()"
      >
        <i class="fas fa-file-pdf"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Celebration</th>
          <th>Amount</th>
          <th>Year</th>
          <th>Donation Entry</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let donation of donations">
          <td>{{ donation.donationId }}</td>
          <td>{{ donation.fullName }}</td>
          <td>{{ donation.celebrationName }}</td>
          <td>₹ {{ donation.amount }}</td>
          <td>{{ donation.year }}</td>
          <td>{{ donation.donationDate | date: "dd-MMM-yyyy hh:mm a" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
